.nav_bar {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
}

.nav_bar ul {
  display: flex;
  justify-items: space-between;
  /* width: 100vw; */
  list-style-type: none;
  margin-right: 25px;
}

.nav_bar ul li {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #8ecae6;
  opacity: 50%;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.nav_bar ul li a {
  text-decoration: none;
}

.nav_bar ul li p {
  color: #219ebc;
  /* text-decoration: ; */
  margin: 0;
}
